# copy to /usr/lib/systemd/system/ (at least on Arch Linux)

[Unit]
Description=Load/Save Screen Backlight Brightness of backlight:mba6x_backlight
DefaultDependencies=no
RequiresMountsFor=/var/lib/systemd/backlight
Conflicts=shutdown.target
After=systemd-remount-fs.service
Before=sysinit.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-backlight load backlight:mba6x_backlight
ExecStop=/usr/lib/systemd/systemd-backlight save backlight:mba6x_backlight

[Install]
WantedBy=multi-user.target
