# copy to /etc/systemd/system/ (at least on Arch Linux)

[Unit]
Description=KernGPE66

[Service]
ExecStart=/bin/sh -c "echo disable > /sys/firmware/acpi/interrupts/gpe66 && echo disable > /sys/firmware/acpi/interrupts/gpe4E"
Type=oneshot

[Install]
WantedBy=multi-user.target
