[borg]
	pushDefault = aminb
	collective = emacsg
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el.git
[submodule "alloy-mode"]
	path = lib/alloy-mode
	url = git@github.com:dwwmmn/alloy-mode.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "dante"]
	path = lib/dante
	url = git@github.com:jyp/dante.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
	# dash creates a `dir' dash info file, which makes git think
	# that the submodule is dirty. so, let's ignore the untracked
	# files of dash's submodule
	ignore = untracked
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = git@github.com:seagle0128/doom-modeline.git
[submodule "eink-theme"]
	path = lib/eink-theme
	url = git@github.com:maio/eink-emacs.git
[submodule "eldoc-eval"]
	path = lib/eldoc-eval
	url = git@github.com:thierryvolpiatto/eldoc-eval.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "evil-escape"]
	path = lib/evil-escape
	url = git@github.com:syl20bnr/evil-escape.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-haskell"]
	path = lib/flycheck-haskell
	url = git@github.com:flycheck/flycheck-haskell.git
[submodule "general"]
	path = lib/general
	url = git@github.com:noctuid/general.el.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "hlint-refactor"]
	path = lib/hlint-refactor
	url = git@github.com:mpickering/hlint-refactor-mode.git
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
	info-path = doc
[submodule "lcr"]
	path = lib/lcr
	url = git@github.com:jyp/lcr.git
[submodule "lean-mode"]
	path = lib/lean-mode
	url = git@github.com:leanprover/lean-mode.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "memoize"]
	path = lib/memoize
	url = git@github.com:skeeto/emacs-memoize.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "notmuch"]
	path = lib/notmuch
	url = https://git.notmuchmail.org/git/notmuch
	load-path = emacs
	info-path = doc/_build/texinfo
	build-step = ./configure
	build-step = make
	build-step = make sphinx-texinfo
	build-step = borg-makeinfo
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = git@github.com:kaushalmodi/ox-hugo.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "proof-site"]  # Proof General
	path = lib/proof-site
	url = git@github.com:ProofGeneral/PG.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = git@gitlab.com:bennya/shrink-path.el.git
[submodule "smex"]  # used by counsel-M-x
	path = lib/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "tao-theme"]
	path = lib/tao-theme
	url = git@github.com:11111000000/tao-theme-emacs.git
	remote = aminb git@github.com:aminb/tao-theme-emacs.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = git@github.com:emacsorphanage/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
