# mpd files
mpd/*/*/database
mpd/*/*/log
mpd/*/*/pid
mpd/*/*/state
mpd/*/*/sticker.sql

# ranger files
ranger/*/*/history
ranger/*/*/bookmarks
ranger/*/*/tagged

# ncmpcpp
ncmpcpp/*/error.log

# getmail oldmail file
oldmail-*

/early-init.el
/init.el
/var
/recentf
/smex-items
/auto-save-list
/network-security.data
