setxkbmap -option ctrl:nocaps
#setxkbmap -option compose:ralt

source ~/.zprofile
export _JAVA_AWT_WM_NONREPARENTING=1
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true'

bspwm &
