URxvt.scrollBar:	false
!URxvt.font: -*-termsyn-medium-*-*-*-14-*-*-*-*-*-*-*
!URxvt.boldFont: -*-termsyn-bold-*-*-*-14-*-*-*-*-*-*-*

!! Sauce Code Pro
URxvt.font: xft:Source Code Pro-11:hinting=True;antialias:True,xft:Meslo LG M for Powerline-10:medium;antialias=False,xft:DejaVu Sans Mono for Powerline-10:medium;antialias=True,xft:Unifont-10:medium;antialias:True
URxvt.boldFont: xft:Source Code Pro-11:bold;hinting=True;antialias:True,xft:Meslo LG M for Powerline-10:bold;antialias=False,xft:DejaVu Sans Mono for Powerline-10:bold;antialias=True,xft:Unifont-10:bold;antialias:True
!URxvt.letterSpace: -1
!-*-{ Xft settings
Xft*dpi:              96
Xft*antialias:        True
Xft*hinting:          Full
!-*-}


URxvt.perl-ext-common:      default,clipboard,url-select,font-size
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.iso14755 : false
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.C-A-V: perl:clipboard:paste_escaped

URxvt.iconFile: /usr/share/icons/Moka/96x96/apps/utilities-terminal.png
!URxvt.iconFile: /home/amin/.icons/Moka/96x96/apps/utilities-terminal.png

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
!URxvt.keysym.C-S-Up:   perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal
!URxvt.iso14755: false
!URxvt.iso14755_52: false

! Xcursor --------------------------------------------------------------------

!Xcursor.theme: Vanilla-DMZ-AA
!Xcursor.size:  22

